doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(property="og:image" content="./img/logo.png")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title AnasJaidi
        script(src="./js/inviewport.js")
        link(rel="icon" href="./img/logo.png")
        link(rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css")
        link(rel="stylesheet", href="./css/all.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css")
        //- script(src="https://kit.fontawesome.com/97edd601e7.js" crossorigin="anonymous")
    body
        //- start container
        .container-fluid

            //- start aside nav
            .aside(id="aside")

                //- start logo 
                .logo: a(href="index.html") 
                    img(src="./img/logo.png")
                
                //- start nav section
                - var icons = ["fa-light fa-house", "fa-light fa-user", "fa-light fa-laptop", "fa-light fa-folder-tree", "fa-light fa-phone"] 
                - var labels = ["home", "about", "skills", "projects", "contact"] 
                - var labelsc = ["active"] 
                i(class="fa-regular fa-bars menu" id="menu1")
                nav(id="nav")
                    .links-nav
                        -  for (var i = 0; i < icons.length; i++)
                            - var id = '#' + labels[i]
                            - var classname = 'link-' + labels[i]
                            a.icon(class=classname href=id id=classname)
                                i(class="i " + icons[i])
                                span #{labels[i]}             
                //- start bottom icon
                .more
                    i(class="fa-light fa-arrow-down i")
            //- start main section container
            .main
                .home(id="home" class="ac section")
                    .p1
                        .text
                            p.hi HI THERE! I'M
                            h1.me <span class="fname"> ANAS </span> JAIDI
                            p.short-about A <span class="job">Digital IT Architect, Full Stack Developer </span> passionate about creating interactive applications and experiences on the web.
                        .links
                            .cv
                                a(href="pdf/resume_aj.pdf" target="_blank" class="btn")
                                    span resume 
                                    i(class="fa-duotone fa-arrow-down-to-arc")
                            .socials
                                a(href="https://github.com/Anasjaidi" target="_blank"): i(class="fa-brands fa-github" )
                                a(href="https://www.linkedin.com/in/anasjaidi/" target="_blank"): i(class="fa-brands fa-linkedin")
                                a(href="https://twitter.com/0xJaidi" target="_blank"): i(class="fa-brands fa-twitter")
                    .imgs(id="my_img")
                        .d1
                        .d2
                        .d3
                        img(src="./img/ajaidi.jpg" class="theme")
                        img(src="./img/logo.png", alt="" class="theme hidden")
                .about(id="about" class="nac section")
                    .title 
                        h2 about me
                        span robin hood
                    .sub-title 
                        hr
                        span some info
                    .about-text 
                        p <span class="job">I'm a full-stack web developer</span> with a background in computer systems and Algorithems and data-structure . My 3 years of IT experience has given me a strong foundation for web development and building complex solutions. Recently, i joined <span class="job">42 network for senior digital it architect degree</span> . I am passionate about coding and solving problems through code, and I am excited to work alongside other amazing programmers and learn so much more!
                .skills(id="skills" class="nac section")
                    .title 
                        h2  skills
                        span robin hood
                    .sub-title 
                        hr
                        span check out my
                    -var skillsicon = ["devicon-javascript-plain", "devicon-react-original", "devicon-nextjs-original", "devicon-nodejs-plain", "devicon-express-original", "devicon-mongodb-plain", "devicon-postgresql-plain", "devicon-typescript-plain", "devicon-html5-plain", "devicon-css3-plain", "devicon-sass-original", "devicon-tailwindcss-original-wordmark", "devicon-mocha-plain", "devicon-gulp-plain", "devicon-figma-plain", "devicon-docker-plain", "devicon-rust-plain", "devicon-cplusplus-plain", "devicon-c-plain", "devicon-python-plain", "devicon-git-plain", "devicon-php-plain"]//- "devicon-docker-plain"
                       -var skillstext = ["javascript", "react", "next.js","nodejs" , "express.js", "mongodb", "postgresql", "typescript", "html", "css", "sass", "tailwindcss", "mocha", "gulpjs", "figma", "docker", "rust", 'cpp', 'c', "python", "git", "php"] //- "docker"
                    .skills-techs
                       -for (var i = 0; i < skillsicon.length ; i++)
                        .skill 
                            i(class=skillsicon[i])
                            span #{skillstext[i]}
                .projects(id="projects" class="nac section")
                    .title 
                        h2 projects
                        span robin hood
                    .sub-title 
                        hr
                        span take look at my
                    .main-projects 
                        .project
                            .img 
                                img(src="./img/leon.png", alt="")
                            .text-box 
                                .techs html, css
                                .name leaon template 
                                .description representing a web agency website 
                                .btns
                                    a.btn-p(href="https://anasjaidi.github.io/leon-template/" target="_blank") live demo
                                    a.btn-p(href="https://github.com/Anasjaidi/leon-template" target="_blank") github repo
                .contact(id="contact" class="nac section")
                    .title 
                        h2 conect
                        span robin hood
                    .sub-title 
                        hr
                        span say hello
                    form(action="" class="message-form")
                        .name-form 
                            .first-name
                                span first name
                                input
                            .last-name
                                span last name
                                input
                        .email 
                            span email 
                            input
                        .subject 
                            span subject
                            input
                        .message 
                            span message
                            input
                        .send send
                        

                    
                    
    script(src="./js/all.min.js")
    script(src="./js/anime.min.js")
    script(src="./js/anime.app.js")
    cript(src="https://code.iconify.design/2/2.2.1/iconify.min.js")